$primary: #492b55;
$primary-medium: #492b5573;
$primary-light: #492b550d;



// Color scheme
// AppDark → #002060 → for headers and dark color buttons
// AppLight → #DAE3F3 → for breadcrumb background color
// AppGay → #8497B0 → for inactive text in breadcrumb
// AppSuccess → #00B050 → for green color
// AppDanger → #C00000 → for red color
// AppSecondary → #D9D9D9 → for gray buttons
// AppWarning → #F6BB00 → for yellow 